<!DOCTYPE html>

<html>
    <head>
        <title>Luis Lopes</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Aulas</a>
            </div>
            
        </header>

        <div id="wrapper">
            <img src="https://avatars3.githubusercontent.com/u/67976688?s=460&u=66c8f2bd5a7546202ea9d6b0fdf0cb7a53222f25&v=4" alt="Luis Lopes">
            <h1>Luis Lopes</h1>
            <h2>Programador Trainee</h2>
            <p>Trabalho a 4 anos na área de Infra, atualmente estou aprendendo programação com a <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a></p>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/felipe2006ml" target="_blank">Github</a>
            <a href="#">Twitter</a>
            <a href="https://www.linkedin.com/in/luis-felipe-lopes-1647a8b9/" target="_blank">Linkedin</a>
        </div>
        
    </body>
</html>